@model IEnumerable<SMSPortal.Business_Objects.view_messagesW_dto>

@{
    Layout = "~/Views/Shared/AllLayout.cshtml";
    DateTime selected_date = ViewBag.selected_date;

    int i = 1;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Whatsapp Report</title>
    <!-- Custom fonts for this template -->
    <link href="~/Content/startbootstrap-sb-admin-2-master/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/startbootstrap-sb-admin-2-master/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="~/Content/startbootstrap-sb-admin-2-master/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
</head>
<body id="page-top">
    <script language="JavaScript" type="text/javascript">

        $(document).ready(function () {

            $('#dataTable').DataTable({
                "pageLength": 10,
                "lengthMenu": [[10, 15, 25, 50, 100, -1], [10, 15, 25, 50, 100, "All"]]
            });
            $('#dataTable').show()

            $("#tableFilter").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#dataTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            //$('#dataTable').DataTable({
            //    pageLength: 10,
            //    paging: true,
            //    "pagingType": "full_numbers",
            //    pagingType: full_numbers
            //});

             $("#selected_date").change(function () {

                var changedDate = $("#selected_date").val();
                $.ajax({
                        type: "POST",
                        url: '@Url.Action("changedDates", "WhatsappView")',
                        async: true,
                        data: {
                            //__RequestVerificationToken: token,
                            changedDate: changedDate,
                        },
                        


                });
                
            });
        });

    </script>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <div class="container-fluid">
                    <div>
                        @using (Html.BeginForm("SearchResults", "WhatsappView", FormMethod.Post, new { target = "_blank" }))
                        {
                            <table width="100%">
                                <tr>
                                    <td><h1 class="h3 mb-2 text-gray-800">Whatsapp Report</h1></td>
                                    <td><input class="input-xlarge form-control" id="selected_datex" name="selected_datex" style="display:none" type="date" value="@selected_date.ToString("yyyy-MM-dd")" /></td>
                                    <td align="right"><input id="btn_excel" class="btn btn-success pull-right" value="EXPORT TO EXCEL" type="submit" name="EXPORT TO EXCEL" /></td>
                                </tr>
                            </table>
                        }

                    </div>
                    <!-- Page Heading -->
                    
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <table width="100%">
                                <tr>
                                    <td align="left"><h6 class="m-0 font-weight-bold text-primary">Whatsapp report for the period</h6></td>
                                    <td><input class="input-xlarge form-control" id="selected_date" name="selected_date" type="date" value="@selected_date.ToString("yyyy-MM-dd")" style="margin-right:15px;"></td>
                                    <td><button id="btn_go" class="btn btn-primary pull-right" type="submit"> GO</button></td>
                                    <td align="right"><input type="text" class="form-control form-control-user" id="tableFilter" placeholder="filter"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>code_b</th>
                                            <th>damaged</th>
                                            <th>caked</th>
                                            <th>complaints</th>
                                            <th>created on</th>
                                            <th>sms request id</th>
                                            <th>missing</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>code_b</th>
                                            <th>damaged</th>
                                            <th>caked</th>
                                            <th>complaints</th>
                                            <th>created on</th>
                                            <th>sms request id</th>
                                            <th>missing</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            string i_str = i.ToString() + ".";
                                            string code_b = item.code_b;
                                            int damaged = item.damaged;
                                            int caked = item.caked;
                                            string complaints = item.complaints;
                                            string created_on = item.created_on.ToString();
                                            int sms_request_id = item.sms_request_id;
                                            int missing = item.missing;

                                            <tr>
                                                <td>@i_str</td>
                                                <td>@code_b</td>
                                                <td>@damaged</td>
                                                <td>@caked</td>
                                                <td>@complaints</td>
                                                <td>@created_on</td>
                                                <td>@sms_request_id</td>
                                                <td>@missing</td>

                                            </tr>

                                            i++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/startbootstrap-sb-admin-2-master/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/startbootstrap-sb-admin-2-master/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/startbootstrap-sb-admin-2-master/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/startbootstrap-sb-admin-2-master/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="~/Content/startbootstrap-sb-admin-2-master/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/startbootstrap-sb-admin-2-master/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/Content/startbootstrap-sb-admin-2-master/js/demo/datatables-demo.js"></script>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
</body>
</html>
